In [1]:
import pandas as pd
from feature_engine.encoding import WoEEncoder, RareLabelEncoder
from sklearn.model_selection import train_test_split
import pandas as pd
from sklearn.preprocessing import PowerTransformer
from sklearn.feature_selection import RFE,SelectFromModel
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import OrdinalEncoder,LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from xverse.transformer import WOE
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
import numpy as np

In [2]:
df=pd.read_csv('train.csv')

In [3]:
# Null values.
df.isnull().sum()/len(df)*100

Year                         0.000000
Month                        0.000000
ProductCategory              0.000000
Sales(In ThousandDollars)    5.555556
dtype: float64

In [4]:
Womenme=df[df['ProductCategory']=='WomenClothing'].mean()['Sales(In ThousandDollars)']
Menme=df[df['ProductCategory']=='MenClothing'].mean()['Sales(In ThousandDollars)']
othernme=df[df['ProductCategory']=='OtherClothing'].mean()['Sales(In ThousandDollars)']
print(Womenme)
print(Menme)
print(othernme)

3108.5438596491226
660.4035087719299
1071.6785714285713

C:\Users\SWAPNIL PATIL\AppData\Local\Temp\ipykernel_17004\4089465479.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  Womenme=df[df['ProductCategory']=='WomenClothing'].mean()['Sales(In ThousandDollars)']
C:\Users\SWAPNIL PATIL\AppData\Local\Temp\ipykernel_17004\4089465479.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  Menme=df[df['ProductCategory']=='MenClothing'].mean()['Sales(In ThousandDollars)']
C:\Users\SWAPNIL PATIL\AppData\Local\Temp\ipykernel_17004\4089465479.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  othernme=df[df['ProductCategory']=='OtherClothing'].mean()['Sales(In ThousandDollars)']

In [14]:
pd.read_excel('WeatherData.xlsx')

,Year,Month,Day,Temp high (°C),Temp avg (°C),Temp low (°C),Dew Point high (°C),Dew Point avg (°C),Dew Point low (°C),Humidity (%) high,...,Sea Level Press. (hPa) avg,Sea Level Press. (hPa) low,Visibility (km) high,Visibility (km) avg,Visibility (km) low,Wind (km/h) low,Wind (km/h) avg,Wind (km/h) high,Precip. (mm) sum,WeatherEvent
0,2009,Jan,1,-3,-6,-9,-16,-17,-19,54,...,1023,1015,16,16,16,37,18,60,0,NaN
1,2009,Jan,2,1,-2,-5,-3,-7,-17,78,...,1012,1007,16,13,2,27,10,48,T,Snow
2,2009,Jan,3,3,1,-2,-5,-9,-13,72,...,1015,1008,16,16,16,27,16,42,T,NaN
3,2009,Jan,4,6,1,-4,-10,-12,-13,55,...,1017,1015,16,16,16,32,12,40,0,NaN
4,2009,Jan,5,6,5,3,-1,-5,-16,62,...,1014,1013,16,16,16,23,11,34,T,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2009,Dec,27,13,9,4,12,5,-4,100,...,1010,1008,16,11,2,26,12,47,8.38,Rain
361,2009,Dec,28,6,3,-1,1,-6,-10,73,...,1004,1002,16,16,16,29,14,47,0,NaN
362,2009,Dec,29,-1,-4,-9,-8,-16,-19,58,...,1016,1004,16,16,16,47,23,64,T,NaN
363,2009,Dec,30,0,-3,-7,-10,-12,-15,62,...,1029,1026,16,16,16,23,9,35,0,NaN
364,2009,Dec,31,2,0,-2,0,-3,-9,96,...,1022,1016,16,8,0,21,6,27,5.84,"Fog , Snow"

In [9]:
df[df['ProductCategory']=='WomenClothing']['Sales(In ThousandDollars)'].replace(np.nan,Womenme,inplace=True
df[df['ProductCategory']=='MenClothing']['Sales(In ThousandDollars)'].replace(np.nan,Menme,inplace=True)
df[df['ProductCategory']=='OtherClothing']['Sales(In ThousandDollars)'].replace(np.nan,othernme,inplace=True)

In [189]:
df.fillna(method='ffill',inplace=True)

In [10]:
df.isnull().sum()

Year                          0
Month                         0
ProductCategory               0
Sales(In ThousandDollars)    10
dtype: int64

In [191]:
X_train,y_train=df.drop(columns=['Sales(In ThousandDollars)']),df['Sales(In ThousandDollars)']

In [192]:
X_test=pd.read_csv('submission.csv')
X_test.head(3)

   Year  Month ProductCategory  Unnamed: 3  Sales(In ThousandDollars)
0  2014      1   WomenClothing         NaN                        NaN
1  2014      1     MenClothing         NaN                        NaN
2  2014      1   OtherClothing         NaN                        NaN

In [193]:
X_test.drop(columns=['Unnamed: 3','Sales(In ThousandDollars)'],inplace=True)

In [194]:
# Cat columns
X_cat=df.select_dtypes(include='object').columns

In [195]:
X_train.head(5)

   Year  Month ProductCategory
0  2009      1   WomenClothing
1  2009      1     MenClothing
2  2009      1   OtherClothing
3  2009      2   WomenClothing
4  2009      2     MenClothing

In [196]:
oe=LabelEncoder()
X_train['Year']=oe.fit_transform(X_train['Year'])
X_train['ProductCategory']=oe.fit_transform(X_train['ProductCategory'])

In [197]:
X_test['Year']=X_test['Year'].map(lambda x: 5 if x==2014 else 0)
X_test['ProductCategory']=oe.fit_transform(X_test['ProductCategory'])

In [198]:
# Model Building
linereg=LinearRegression()
linereg.fit(X_train,y_train)

LinearRegression()

In [199]:
# predict
y_pred_train=linereg.predict(X_train)
y_pred_test=linereg.predict(X_test)

In [200]:
y_pred_test

array([2833.14145299,  609.12478632, 1721.13311966, 2882.453108  ,
        658.43644134, 1770.44477467, 2931.76476301,  707.74809635,
       1819.75642968, 2981.07641803,  757.05975136, 1869.06808469,
       3030.38807304,  806.37140637, 1918.3797397 , 3079.69972805,
        855.68306138, 1967.69139472, 3129.01138306,  904.99471639,
       2017.00304973, 3178.32303807,  954.30637141, 2066.31470474,
       3227.63469308, 1003.61802642, 2115.62635975, 3276.9463481 ,
       1052.92968143, 2164.93801476, 3326.25800311, 1102.24133644,
       2214.24966977, 3375.56965812, 1151.55299145, 2263.56132479])

In [201]:
from sklearn.linear_model import SGDRegressor

from sklearn.model_selection import GridSearchCV
tuned=[{'alpha':[0.001,0.02,0.003,0.004,0.005],'l1_ratio':[0.001,0.02,0.003,0.004,0.005,0.006,0.007,0.008]}]

sgd=SGDRegressor()
grid_model=GridSearchCV(estimator=sgd,param_grid=tuned)
grid_model.fit(X_train,y_train)

y_pred=grid_model.predict(X_test)

In [202]:
sgd_model=SGDRegressor()
sgd_model.fit(X_train,y_train)

SGDRegressor()

In [204]:
y_pred=sgd_model.predict(X_test)
y_pred

array([2748.42370423,  619.66480974, 1684.04425699, 2766.92204434,
        638.16314984, 1702.54259709, 2785.42038444,  656.66148995,
       1721.04093719, 2803.91872454,  675.15983005, 1739.5392773 ,
       2822.41706464,  693.65817015, 1758.0376174 , 2840.91540475,
        712.15651025, 1776.5359575 , 2859.41374485,  730.65485036,
       1795.0342976 , 2877.91208495,  749.15319046, 1813.53263771,
       2896.41042506,  767.65153056, 1832.03097781, 2914.90876516,
        786.14987066, 1850.52931791, 2933.40710526,  804.64821077,
       1869.02765801, 2951.90544536,  823.14655087, 1887.52599812])

In [205]:
X_test['Sales(In ThousandDollars)']=y_pred

In [206]:
X_test.reset_index()

    index  Year  Month  ProductCategory  Sales(In ThousandDollars)
0       0     5      1                2                2748.423704
1       1     5      1                0                 619.664810
2       2     5      1                1                1684.044257
3       3     5      2                2                2766.922044
4       4     5      2                0                 638.163150
5       5     5      2                1                1702.542597
6       6     5      3                2                2785.420384
7       7     5      3                0                 656.661490
8       8     5      3                1                1721.040937
9       9     5      4                2                2803.918725
10     10     5      4                0                 675.159830
11     11     5      4                1                1739.539277
12     12     5      5                2                2822.417065
13     13     5      5                0                 693.658170
14     14     5      5                1                1758.037617
15     15     5      6                2                2840.915405
16     16     5      6                0                 712.156510
17     17     5      6                1                1776.535958
18     18     5      7                2                2859.413745
19     19     5      7                0                 730.654850
20     20     5      7                1                1795.034298
21     21     5      8                2                2877.912085
22     22     5      8                0                 749.153190
23     23     5      8                1                1813.532638
24     24     5      9                2                2896.410425
25     25     5      9                0                 767.651531
26     26     5      9                1                1832.030978
27     27     5     10                2                2914.908765
28     28     5     10                0                 786.149871
29     29     5     10                1                1850.529318
30     30     5     11                2                2933.407105
31     31     5     11                0                 804.648211
32     32     5     11                1                1869.027658
33     33     5     12                2                2951.905445
34     34     5     12                0                 823.146551
35     35     5     12                1                1887.525998

In [207]:
X_test2 = X_test.drop(columns=['Year','Month','ProductCategory']).reset_index().rename({'index':'Year'},axis=1)

In [208]:
X_test2.to_csv('mySubmission.csv',index=False)